#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: #000;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content-center{
    width: 1000px;
}
.content-left{
    background: url('./images/ramon.png') 75% 0 fixed;
    width: 100%;
    height: 1630px;
}
.content-right{
    background: url('./images/cbum.jpg') 0% 0 fixed;
    background-attachment: fixed;
    width: 100%;
    height: 1630px;
}
h1 {
    font-family: 'Orbitron', sans-serif;
}
h4{
    font-family: 'Urbanist', sans-serif;
}
h3{
    font-family: 'Orbitron', sans-serif;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 10px; /* Espaço entre os blocos, ajuste conforme necessário */
    width: 60%;
    margin-left: 20%;
    height: 50px;
}
.buttonValue {
    font-family: 'Sarabun', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #f4ebeb;
    border-radius: 10px;
}
.buttonValue:hover {
    font-family: 'Sarabun', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #d36969;
    border-radius: 10px;
    cursor:pointer;
    
}

.buttonValue.pressed {
    color: #ffffff;
    background-color: #ab1616;
    border-radius: 10px;
}
#resultado{
    margin-top: 30px;
    margin-left: 5%;
    padding-bottom: 20px;
    width: 90%;
    border-radius: 20px;
    border: 2px #f4ebeb solid;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}
p{
    font-family: 'Patua One', sans-serif; 
}